@use "sass:math";

.header-wrapper.guide {
    width: 100%;
    background-image: url("/img/guide/prague-02.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    overflow: hidden;

    > header > nav {
        // Fixes web navigation being overlayed by guide navigation
        z-index: 2;
    }

    &.guide-home {
        padding-bottom: 2rem + math.div($guide-president-avatar-size, 2);

        h1 {
            margin-bottom: 4.5rem;
        }
    }

    &:not(.guide-home) {
        // Hide the image header on small devices (when mobile nav is used)
        @include media-breakpoint-down(sm) {
            h1 {
                display: none;
            }

            margin-bottom: 4rem;
        }
    }
}
