$guide-blue: #2f6fc8; // rgb(47, 111, 200)
$guide-blue-hover: #4582d3;
$guide-magenta: #d0197b; // rgb(208, 25, 123)
$guide-magenta-hover: #e73492;
$guide-green: #82ba0c; // rgb(130, 186, 12)
$guide-green-hover: #8bc80d;
$guide-orange: rgb(244, 124, 32);
$guide-orange-hover: rgb(250, 132, 45);

$guide-president-avatar-border-width: 0.25rem;
$guide-president-avatar-size: 10rem + 2 * $guide-president-avatar-border-width;
