/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/.idea

/public/css/
/public/fonts/
/public/img/cropper/
/public/js/
/public/languages
/public/mix-manifest.json
/public/tandem
/public/wiki
_ide_helper.php
_ide_helper_models.php
.env.testing
.phpstorm.meta.php
