/.phpunit.cache
/node_modules
/public/build
/public/hot
#/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

/public/css/
/public/fonts/
/public/img/cropper/
/public/js/
/public/languages
/public/mix-manifest.json
/public/tandem
/public/wiki
_ide_helper.php
_ide_helper_models.php
.env.testing
.phpstorm.meta.php
