/node_modules
/public/storage
/public/avatars
/storage/*.key
/public/js/buttons.js
/public/js/partak.js
public/css
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.env.testing
.idea/
_ide_helper.php
vendor/
_ide_helper_models.php
.phpstorm.meta.php
