@font-face {
  font-family: "Kelso Sans";
  src: url("../fonts/KelsonSans-Normal.woff2") format('woff2');
}

@font-face {
  font-family: "Kelso Sans";
  font-weight: bold;
  src: url("../fonts/KelsonSans-Bold.woff2") format('woff2');
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue-Regular.woff2") format('woff2');
}
