.logo-cvut {
  margin: calc(var(--logo-height) / 5);
}

main {
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }

  & > section {
    padding-top: 2rem;
    padding-bottom: 2rem;

    & p {
      text-align: justify;
      text-align-last: center;
      hyphens: auto;
    }
  }

  & > section:nth-child(2n + 1) {
    background-color: white;
  }

  & > section:nth-child(2n) {
    background-color: var(--color-light-gray);
  }
}

@import "../partials/contact";
@import "../partials/calendar-event";

/* -------------------------------------------------------------------------- */

a.logo img {
  transition: filter 200ms ease-in;
}

a.logo:hover img,
a.logo:focus img {
  filter: invert(50%) opacity(50%) drop-shadow(0 0 0 $link-hover-color) contrast(300%);
  transition: filter 200ms ease-out;
}

#logo-download {
  text-align: center;

  .modal-header,
  .modal-content {
    background-color: var(--color-blue-bg);
    color: white;
  }

  .modal-header {
    border-bottom: none;
  }

  img {
    width: 100%;
    max-width: 10em;
  }

  .btn {
    text-transform: uppercase;
  }
}
