
.fullscreen {
  height: 100vh;
  min-width: 100%;
}

#landing-page {
  position: relative;
  height: inherit;
  min-height: 29.6875vw;
  background: url("/img/saf/landing-page-background.png") 0 50% / 100vw;
  background-repeat: no-repeat;
}

@media(max-aspect-ratio: 16/9) {
  #landing-page {
    background-position: center;
    background-size: cover;
  }
}

#landing-page > h1 {
  display: none;
}

#saf-logo {
  display: block;
  margin: 5vh 5vw;
  width: calc(20vw + 20vh);
  height: auto;
}

#landing-page > .more {
  background: white;
  border-radius: 2vh 2vh 0 0;
  bottom: 0;
  font-size: 5vh;
  font-weight: bold;
  left: 0;
  margin: 0 auto;
  padding: 1vh 2vh;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  width: fit-content;
}

.double-arrow-down {
  background: url("https://upload.wikimedia.org/wikipedia/commons/8/8e/Double_angle_down_font_awesome.svg") no-repeat center;
  background-size: contain;
  color: transparent;
  position: relative;
  height: 100%;
  width: 1em;
}

@media(max-height: 29.6874vw) {
  #landing-page > .more {
    left: 17px;
    font-size: 1.484375vw;
  }
}