#presentations > ul {
  list-style: none;
  padding: 0;
}

#presentations > ul >li {
  margin: 1rem 0;
}

#presentations > ul > li::after {
  display: block;
  content: "";
  clear: both;
}

#presentations > ul > li > img {
  display: block;
  width: 6em;
  height: 6em;
  border: none;
  border-radius: 50%;
}

@media (min-width: 40rem) {

  #presentations > ul > li > img {
    width: 10rem;
    height: 10rem;
  }
}

#presentations > ul > li:nth-child(odd) > img {
  float: left;
  margin-right: 1rem;
}

#presentations > ul > li:nth-child(even) > img {
  float: right;
  margin-left: 1rem;
}