section > div.inspiration > a > div > p {
  margin-left: 2rem;
  margin-right: 2rem;
}

@media (max-width: 30rem) {
  section > div.inspiration > a > div > p {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

section > div.inspiration > a:hover > div > p {
  text-decoration: underline;
}

section > div.inspiration > a > div > p:first-child {
  font-size: 2em;
}

section > div.inspiration > a > div > p + p {
  font-size: 1.5em;
  font-style: italic;
}

section > div.inspiration.light > a > div > p + p {
  color: rgba(0, 0, 0, 0.7);
}

section > div.inspiration.dark > a > div > p + p {
  color: rgba(255, 255, 255, 0.7);
}

section > div.inspiration {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 30%;
  min-height: 15rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

section > div.inspiration#uhlir {
  background-image: url("/img/saf/athens.jpg");
}

section > div.inspiration#chovanec {
  background-image: url("/img/saf/athens2.jpg");
}

section > div.inspiration#stadler {
  background-position: center 70%;
  background-image: url("/img/saf/athens3.jpg");
}

section > div.inspiration > a {
  display: block;
  position: relative;
  padding-bottom: 50%;
  color: inherit;
}

section > div.inspiration > a > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

section > div.inspiration.light > a > div {
  background: linear-gradient(rgba(255, 255, 255, 0.87), rgba(255, 255, 255, 0));
}

section > div.inspiration.dark > a > div {
  background: linear-gradient(rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0));
  color: #ffffff;
}