@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  min-width: 360px;
}

div {
  overflow: auto;
}

footer {
  background-color: #29a9e1;
  color: #ffffff;
  padding: 2rem 1rem;
}

footer > * {
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

@import "landing-page";
@import "about";
@import "presentations";
@import "partners";