h2 {
}

h3 {
  font-size: 125%;
}

.container {
  margin-bottom: 2rem;
}

.btn {
  .fas {
    margin-right: 0.25rem;
  }
}

.table.p-table {
  td, th {
    border: 0;
    padding: 0.2rem 0.75rem;
    vertical-align: middle;
  }

  th {
    font-weight: normal;
    color: #999;
    border-bottom: 2px solid #f0f0f0;
  }

  tbody {
    tr {
      &:nth-child(even) {
        background: #f0f0f0;
      }
    }
  }
}
