
.navbar-brand {
  display: block;

  & > img {
    display: block;
    height: 3.5rem;
    margin-top: -0.3125rem;
    margin-bottom: -0.3125rem;
  }
}

.subnav {
  box-shadow: 0 5px 3px -3px #ddd;
  margin-bottom: 3rem;

  .container {
    justify-content: center;
  }
}