#showOpeningHours:checked ~ #openingHoursData {
	display: block;
}

#showOpeningHours:not(:checked) ~ #openingHoursData {
	display: none;
}

#openingHoursTable th {
	text-align: right;
	padding-right: 10px;
}

#editOpeningHoursSubmitButton div {
	margin: 0;
}