.trip-header {
  margin-bottom: 2rem;
}

.trip-info {
  th, td {
    border: 0;
    padding: 0.4rem 0;
  }

  th {
    padding-left: 0;
    max-width: 50px;
    font-weight: normal;
    color: #999;
  }
}