.trip-header {
  margin-bottom: 1.5rem;
}

.trip-info {
  > div {
    padding: 0.5rem 0;
  }

  .label {
    font-weight: normal;
    color: #999;
  }
}

#cover_preview {
  width: auto;
  max-height: 5rem;
}

.sex-icon {
  color: #999;
}