.trip-header {
  margin-bottom: 1.5rem;
}

#cover_preview {
  width: auto;
  max-height: 5rem;
}

.sex-icon {
  color: #999;
}

.custom-question {
  cursor: pointer;
  display: block;
  font-weight: normal;
  
  &.with-image {
    margin-bottom: 2rem;
    box-shadow: 1px 1px 5px #999;
    width: 300px;

    .q-img {
      background: #eee;

      img {
        max-width: 300px;
        max-height: 200px;
        display: block;
        margin: 0 auto;
      }
    }

    .q-input {
      padding: 1rem;
    }
  }
}
