.preview-md, .preview-sm {
  display: none;
}

.avatar-view {
  display: block;
  width: 100%;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  cursor: pointer;
  overflow: hidden;

  border: 1px solid #F4F4F4;
  border-radius: 50% !important;
}

.avatar-row {
  padding-right: 20px !important;
  padding-bottom: 20px !important;
}

.avatar-view img {
  width:100%;
}

.avatar-body {
}

.avatar-upload {
  overflow: hidden;
}

.avatar-upload label {
  width: 150px;
  float: left;
}

.avatar-upload input {
  display: block;
  margin-left: 110px;
}

.avater-alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-wrapper {
  height: 360px;
  width: 100%;
  margin-top: 15px;
  overflow: hidden;
}

.avatar-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media (min-width: 992px) {
  .avatar-preview {
    float: none;
  }
}

.loading {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff url($baseUrl + "loading.gif") no-repeat center center;
  opacity: .75;
  filter: alpha(opacity=75);
  z-index: 20140628;
}


.modal-content {
  border: 2px solid #fff;
  background: #EDEDED;
}

.modal-header {
  background: #0079C1;
  color: #fff;
  padding:20px;
  border-bottom:1px solid #006AA8;
}

.modal-header h4 {
  text-align: center;
}

.modal-body {
  border-top:1px solid #fff;
  background: #fff;
  text-align:center;
  color:#4E4E4E;
  padding-top:40px;
}

.crop-avatar {
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}

.cropper-view-box {
  border-radius: 50% !important;
}