@import "../web/variables";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.multiselect {
  min-height: initial;

  &.is-invalid {
    & > .multiselect__tags {
      border-color: $danger;
      background-image: escape-svg($form-feedback-icon-invalid);
      background-repeat: no-repeat;
      background-position: right calc(#{$input-height-inner-quarter} + 40px) center;
      background-size: $input-height-inner-half $input-height-inner-half;
    }
  }
}

.multiselect__tags {
  border-radius: 0;
  border: $input-border-width solid $input-border-color;
  padding-left: $input-padding-x;
  padding-top: $input-padding-y;
  padding-bottom: $input-padding-y;
  min-height: $input-height;
}

.multiselect__tags-wrap {
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
}

.multiselect__tag {
  margin-top: 3px;
  margin-bottom: 3px;
}

.multiselect__tag,
.multiselect__tag-icon {
  border-radius: 0;
}

.multiselect__content-wrapper {
  border-radius: 0 !important;
}

.multiselect__input,
.multiselect__single {
  color: $input-color;
  padding: 0;
  line-height: $input-line-height;
  margin-bottom: 0;
}

.multiselect__input::placeholder {
  color: $input-placeholder-color;
  opacity: 1;
}

.multiselect__select {
  height: 36px;
}

.multiselect__placeholder {
  color: $input-placeholder-color;
  font-size: 1rem;
  padding: 0;
  line-height: $input-line-height;
  margin-bottom: 0;
}

label.required::after {
  display: inline;
  content: '*';
  color: #ff0000;
  margin-left: 0.25em;
}

ul.table {
  li.row {
    &:not(:first-of-type) {
      text-align: left;
    }
    &:nth-of-type(#{$table-striped-order}) {
      background-color: $table-accent-bg;
    }
    &:hover {
      background-color: $table-hover-bg;
    }
    & > div {
      padding-top: 0.5em;
      padding-bottom: 0.5em;

      & + div {
        border-left: $table-border-width solid $table-border-color;
      }
    }
  }
}

dl.user-profile {
  text-align: left;

  dd {
    margin-bottom: 0;
  }

  dt, dd {
    padding-top: 1em;
    padding-bottom: 1em;

    &:nth-of-type(#{$table-striped-order}) {
      background-color: $table-accent-bg;
    }
  }
}

.navbar {
  .lang-switcher {
    @include media-breakpoint-up(md) {
      margin-top: 0;
      margin-left: 1rem;
    }
  }
}
