@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "../web/navigation";

@import "_navbar-dropdown.scss";

main {
  .page {
    margin-top: 5rem;
    padding-top: 2rem;
    padding-bottom: 4rem;

    h1 {
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
  }

  .multiselect {
    margin-bottom: 1rem;
  }

  .avatar-view {
    margin-bottom: 2rem;
  }

  #avatar {
    border-radius: 50%;
    max-width: 80%;
  }

  .flash,
  .show-email {
    background: var(--backgroud-color);
    padding: 1rem;
    width: auto;
    border-left: 0.25rem solid var(--border-color);
  }

  .flash {
    --backgroud-color: #f9bfbf;
    --border-color: #f27979;
    color: #650a0a;
  }

  .show-email {
    --backgroud-color: #dcebbe;
    --border-color: #adcf65;
  }

  .show-email {
    ul.contacts-list {
      list-style-type: none;
      padding-left: 1rem;

      .fa-whatsapp {
        color: #139B2F;
      }

      .fa-facebook {
        color: #4267B2;
      }
    }
  }

  .pagination {
    margin-top: 2rem;
    justify-content: center;

    li > a {
      display: block;
      margin: 0.2rem;
      padding: 0.2rem 0.4rem;
    }

    li.active {
      font-weight: bold;
    }
  }

  .closed-map {
    display: block;
    position: relative;

    img {
      width: 100%;
    }

    .map-text {
      position: absolute;
      bottom: 0.5rem;
      left: calc(680 / 1920 * 100%);
      font-size: clamp(0px, 2vw, 2rem);
      line-height: 1.2;
      font-weight: bold;
      color: white;
      text-align: center;
    }
  }
}

.table-loader {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  box-sizing: border-box;
  padding: 5em 0;
  text-align: center;

  &-container {
    position: relative;
  }

  > i {
    font-size: 50px;
    color: #eee;
  }
}

.table-empty {
  padding: 3em 0;
  text-align: center;
}

.last-name {
  text-transform: uppercase;
}

.list-table {
  .div-tr {
    display: flex;
    align-items: center;
    border-top: 1px solid #dee2e6;

    &:last-child {
      border-bottom: 1px solid #dee2e6;
    }
  }

  .div-cell {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem;

    &.name {
      flex: 2;
    }

    &.country {
      flex: 1.2;
    }

    &.faculty {
      $width: 120px;
      flex: 0;
      min-width: $width;
      max-width: $width;
      width: $width;
    }
  }

  .div-header {
    border-bottom: 2px solid #dee2e6;
    font-weight: bold;
  }

  .div-body {
    .div-tr {
      &:nth-child(odd) {
        background-color: rgba(0,0,0,.05);
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .div-tr {
    flex-wrap: wrap;

    .div-cell {
      flex-shrink: 0;
      white-space: nowrap;
      padding: 0.2rem 0.5rem;

      &.name {
        min-width: 70%;
      }

      &.country {
        min-width: 30%;
      }

      &.school {
        min-width: 25%;
      }

      &.faculty {
        $width: 15%;
        min-width: $width;
        max-width: $width;
        width: $width;
      }


      &.arrival,
      &.accommodation {
        min-width: 30%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .div-tr {
    flex-wrap: wrap;
    padding: 0.2rem 0;

    .div-cell {
      flex-shrink: 0;
      white-space: nowrap;
      padding: 0.15rem 0.5rem;

      &.name {
        min-width: 100%;
      }

      &.country {
        min-width: 100%;
      }

      &.school {
        min-width: 50%;
      }

      &.faculty {
        $width: 50%;
        min-width: $width;
        max-width: $width;
        width: $width;
      }


      &.arrival,
      &.accommodation {
        min-width: 100%;
      }
    }
  }
}

@import "my-profile";
