.trip-header {
  margin-bottom: 1.5rem;
}

#cover_preview {
  width: auto;
  max-width: 100%;
  max-height: 5rem;
}

.sex-icon {
  color: #999;
}

.custom-question {
  cursor: pointer;
  display: block;
  font-weight: normal;

  &.with-image {
    margin-bottom: 2rem;
    box-shadow: 1px 1px 5px #999;
    width: 300px;

    .q-img {
      background: #eee;

      img {
        max-width: 300px;
        max-height: 200px;
        display: block;
        margin: 0 auto;
      }
    }

    .q-input {
      padding: 1rem;
    }
  }
}

.trips-list {
  margin-bottom: 1rem;

  .div-cell {
    &.name {
      flex: 2;
    }

    &.semester {
      flex: 1.2;
    }

    &.from,
    &.to {
      $width: 120px;
      flex: 0;
      min-width: $width;
      max-width: $width;
      width: $width;
      text-align: right;
    }

    &.price {
      $width: 80px;
      flex: 0;
      min-width: $width;
      max-width: $width;
      width: $width;
      text-align: right;
    }

    &.capacity {
      $width: 100px;
      flex: 0;
      min-width: $width;
      max-width: $width;
      width: $width;
      text-align: right;
    }

    &.actions {
      $width: 16.75rem;
      flex: 0;
      min-width: $width;
      max-width: $width;
      width: $width;

      .modal {
        white-space: initial;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .div-cell {
      flex-shrink: 0;
      white-space: nowrap;
      padding: 0.2rem 0.5rem;

      &.name {
        min-width: 30%;
        order: 0;
      }

      &.semester {
        min-width: 20%;
        order: 1;
      }

      &.from,
      &.to {
        min-width: 25%;
        order: 3;
        text-align: left;
      }

      &.price,
      &.capacity {
        order: 2;
        text-align: left;
      }

      &.actions {
        margin-left: auto;
        order: 4;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .div-cell {
      &.name {
        min-width: 70%;
      }

      &.semester {
        min-width: 30%;
      }

      &.from,
      &.to {
        min-width: 50%;
        order: 2;
      }

      &.price,
      &.capacity {
        order: 3;
        min-width: 50%;
      }

      &.actions {
        min-width: 100%;
      }
    }
  }
}
