.faq {
  dl {
    text-align: left;
    text-align-last: left;
  }

  dt {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  dd + dt {
    margin-top: 1.5rem;
  }

  dd {
    margin-left: 2rem;
  }
}
