@import "navigation";
.header-wrapper {
  overflow: hidden;
  h1 {
    margin: 6rem auto;
    width: fit-content;
    text-align: center;
    padding: 0.5rem 2rem;
    border: 0.1em solid;
    background-color: hsla(0, 0%, 100%, 0.8);
  }
}
