.activities-wrapper {
  background: url($baseUrl + "background.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;

  @media (min-width: 768px) {
    min-height: 300px;
  }

  position: relative;
  color: #FFFFFF;
}

.menu {
  padding:0;
  margin-bottom:40px;
  position:relative;
  @media (min-width: 768px) {
    margin-top:-170px;
  }
  border-right:2px solid #fff;
  border-left:2px solid #fff;
  border-top:4px solid #fff;
}
.menu li {
  display:block;
  border-right:2px solid #fff;
  border-left:2px solid #fff;
}
.menu li, .menu ul {
  margin:0;
  padding:0;
}
.menu li {
}
.menu img {
  display:block;
  width:100%;
  height:auto;
}
.menu a {
  text-align:center;
  display:block;
  position:relative;
  color:#fff;
  font-size:16px;

}

.menu a {
  background:#000;
}
.menu a:hover img {
  opacity:0.7;
}
.menu-title {
  display:block;
  position:absolute;
  bottom:0;
  left:0;
  height:60px;
  width:100%;
  background:#000;
  opacity:0.5;
  border-top:1px solid #fff;
}
.menu-arrow {
  width:40px;
  height:42px;
  margin-left:auto;
  margin-right:auto;
  background:url($baseUrl + "arrow.png");
  background-size:cover;
  opacity:0.2;

  position:absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

a:hover > .menu-arrow {
  opacity:1;
}

.menu strong {
  display:block;
  position:absolute;
  bottom:0;
  bottom:0;
  width:100%;
  height:60px;
  line-height:60px;
  font-weight:400;
}

.schedule img {
  width: 90%;
}

.gallery img {
  margin-bottom: 2px;
  width: 60%;
}

.gallery-row {
  margin-top:60px;
}
.gallery-row li {
  padding:1px;
}

.gallery-row img {
  width: 100%;
}

blockquote {
  padding:0;
  margin:0;
  position:relative;
  border: none;
  display: block;
  background-color:white;
  font-size: 20px;
  padding: 10px 40px;

  text-align: left;
  color: #444444;
  margin-bottom:40px;
  margin-left:15px;
  @media (min-width: 420px) {
    width: 400px;
    margin-left:auto;
    margin-right:auto;
  }
}

.quote-big {
  font-size: 30px;
  width:500px;
}
.quote-big p {
  line-height:40px;
}


/* Left Quote */
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 90px;
  position: absolute;
  left: 0px;
  top: -30px;
  color: #7a7a7a;
}

.faq h2 {
  color: #b9bbae;
}

.sports-list h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

.presentations-list td, .presentations-list th {
  padding: 10px;
}

.presentations-list td {
  border-top: 1px solid #838383;
}

.sports li {
  margin-bottom: 60px;
  height:150px;
}