h4 {
  margin:0;
  padding:0;
  display:inline;
}

.contacts li {
  margin-bottom: 60px;
  height:150px;
}

.activities-contacts li {
  height:150px;
  margin-bottom: 0;
}

.contacts img {
  width: 30%;
  max-width:120px;
  float:left;
}

.contact-details  {
  padding-top:10px;
  margin-left:35%;
}

#map-canvas { width:100%; position:absolute; top:0; left:0; }
.contact-wrapper, #map-canvas {
  min-height:150px;
  @media (min-width: 768px) {
    height:530px;
  }
}

.link-map {
  margin-top:-20px;
  margin-bottom:10px;
  padding:10px;
}

.contact-info {
  background-color:#fff;
  padding:20px;
  padding-left: 40px;
}
.contact-info h2 {
  text-align:left;
  margin:0;
  padding:0;
  margin-bottom:10px;
  color:#05A0DB;
}
.opening-hours h2 {
  margin:0;
  padding:0;
  margin-bottom:10px;
}
.opening-hours  {
  background:hsla(0,0%,19%,1.00);
  color:#fff;
}
.opening-hours th {
  text-align: right;
  padding-right:10px;
}

.btn-maps {
  color:#05A0DB;
  border-color: #05A0DB;
}

.our-contatcts-wrapper {
  background: #f6f7f8;
  border-top:1px solid #ced3d9;
  border-bottom:1px solid #ced3d9;
}

.our-contacts {

  padding-top:30px;
  padding-bottom:30px;
  line-height:35px;
}

.our-contacts h2, .our-contacts{
  font-size:16px;
}

.our-contacts h2 {
  margin:0;
  padding:0;
  font-size:20px;
  text-align:left;
  @media (max-width: 768px) {
    margin-bottom: 10px;
  }

}


.our-contacts span {
  margin-right:10px;
}


.quote {
  margin-top: -30px;
}
blockquote {
  padding:0;
  margin:0;
  position:relative;
  border: none;
  display: block;
  background-color:white;
  font-size: 20px;
  padding: 10px 40px;

  text-align: left;
  color: #444444;
  margin-bottom:40px;

  margin-left: 15px;
  @media (min-width: 420px) {
    margin-left:auto;
    margin-right:auto;
    width: 400px;
  }
}


/* Left Quote */
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 90px;
  position: absolute;
  left: 0px;
  top: -30px;
  color: #7a7a7a;
}

.schedule img {
  width:100%;
}
.schedule a {
  position:relative;
}
.schedule a span {
  background: none;
  font-size:50px;
  opacity:0.3;
}