.guide-wrapper {
  width: 100%;
  min-height: 500px;
  background-image:url("/img/guide/prague-02.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overflow: hidden;

  > header > nav {
    // Fixes web navigation being overlayed by guide navigation
    z-index: 2;
  }

  &.subpage-wrapper {
    min-height: initial;

    // Hide the image header on small devices (when mobile nav is used)
    @include media-breakpoint-down(sm) {
      h1 {
        display: none;
      }

      margin-bottom: 4rem;
    }
  }
}

.guide-content {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1000px;
  text-align: left;
  
  h1, h2, h3 {
    text-align: left;
  }

  h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 150%;
  }

  h3 {
    font-weight: bold;
    font-size: 125%;
  }

  .bg-danger,
  .bg-warning,
  .bg-info {
    padding:20px;
    margin-bottom: 20px;
  }

  .bg-danger {
    border-left: 4px $danger solid;
    background-color: lighten($danger, 25%) !important;
  }

  .bg-warning {
    border-left: 4px $warning solid;
    background-color: lighten($warning, 25%) !important;
  }

  .bg-info {
    border-left: 4px $info solid;
    background-color: lighten($info, 25%) !important;
  }
  
  .list-unstyled > li {
    margin: 0.5rem 0;
  }

  ul > li {
    margin-bottom: 0.5rem;
  }

  ul > li ul li {
    margin-bottom: 0;
  }

  ul ul,
  ul ol,
  ol ul,
  ol ol {
    padding-left: 1.5rem;
    color: #888;
  }

  ul ul,
  ol ul {
    list-style-type: disc;
  }

  .section-navigation {
    list-style-type: none;
    padding-left: 1rem;
    margin-bottom: 2rem;

    .section-navigation {
      margin-bottom: 0;

      a {
        color: #4bafe6;
      }
    }

    a {
      &::before {
        content: '# ';
        opacity: 0.5;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }

  .bg-danger,
  .bg-warning,
  .bg-info {
    p {
      margin-bottom: 0;
    }

    li {
      color: #636b6f;
    }
  }

  .home-screen {
    .guide-navigation {
      margin: -190px auto 50px auto;

      .list-unstyled li {
        margin: 0;
        padding: 0;
      }
      
      a {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        padding: 0.6rem 0;
        font-weight: 700;
        margin: 0 1rem 0 1rem;
      }

      a:hover {
        text-decoration: none;
      }

      #link-aya {
        background-color: #2f6fc8;
      }
      a:hover#link-aya {
        background-color: #4582d3;
      }

      #link-sac {
        background-color: #d0197b;
      }
      a:hover#link-sac {
        background-color: #e73492;
      }

      #link-lip {
        background-color: #82ba0c;
      }
      a:hover#link-lip {
        background-color: #8bc80d;
      }

      #link-esn {
        background-color: rgb(244, 124, 32);
      }
      a:hover#link-esn {
        background-color: rgb(250, 132, 45);
      }
    }

    padding-bottom: 4rem;
  }

  .img-circle {
    display: block;
    margin: 0 auto 3rem auto;
  }
}

.guide-subpage {
  display: flex;

  .row {
    margin: 0;
  }

  .guide-nav {
    flex-shrink: 0;
    background: #eee;
    height: 100%;
    margin-top: 1rem;
    margin-right: 2rem;
    padding: 0;
    width: 250px;

    .navbar-brand {
      display: none;
    }

        
    @include media-breakpoint-up(sm) {
      .container {
        padding: 0;
      }
    }

    // Move the guide nav under the website nav - this is hackish, but works
    @include media-breakpoint-down(sm) {
      position: absolute;
      left: 0;
      top: 72px;
      width: 100%;
      height: auto;
      margin-top: 0;
      padding: 0.5rem 1rem;

      // Fixes warning boxes being rendered over guide nav
      z-index: 1;
      
      .navbar-brand {
        display: block;
      }

      .guide-nav-items {
        margin-top: 1rem;
      }
    }

    > .navbar-collapse {
      padding: 0;
    }

    .navbar-toggler {
      border: none;
    }

    .nav {
      display: block;

      &.collapse {
        display: none;
      }

      &.show {
        display: block;
      }
    }

    .guide-nav-items {
      & > ul > li {
        border-left-width: 10px;
        border-left-style: solid;
        margin-left: 1px;

        a {
          display: block;
          padding: 0.6rem;
        }

        & > a {
          &.expanded,
          &:hover {
            color: #fff;
            cursor: pointer;
          }
        }

        & > ul {
          list-style-type: none;
        }

        & > ul > li > a {
          color: #787878;
          padding-left: 0;
          
          &:hover {
            text-decoration :underline;
          }

          &.active {
          font-weight: bold;
          }
        }
      }

      .green {
        border-left-color: rgb(130, 186, 12);
      }
      .green a { color: rgb(130, 186, 12);}
      .green > a:hover,
      .green > a.expanded {
        background: rgb(130, 186, 12) !important;
      }

      .blue {
        border-left-color:rgb(47, 111, 200);
      }
      .blue a {color: rgb(47, 111, 200);}
      .blue > a:hover,
      .blue > a.expanded {
        background: rgb(47, 111, 200) !important;
      }

      .purple {
        border-left-color:rgb(208, 25, 123);
      }
      .purple a {
        color: rgb(208, 25, 123);
      }
      .purple > a:hover,
      .purple > a.expanded {
        background: rgb(208, 25, 123) !important;
      }

      .orange {
        border-left-color:rgb(244, 123, 32);
      }
      .orange a { color: rgb(244, 123, 32);}
      .orange > a:hover,
      .orange > a.expanded {
        background: rgb(244, 123, 32) !important;
      }
    }
  }

  .guide-subpage-content {
    flex: 1;
    padding: 0 2rem 2rem 2rem;

    img {
      max-width: 100%;
    }
  }
}