.container-small {
	width: 600px;
	margin: 0 auto;
}

.avatar-view {
  display: block;
  width: 100%;
  border: 3px solid #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,.15);
  cursor: pointer;
  overflow: hidden;

  border: 1px solid #F4F4F4;
  border-radius: 50% !important;
}

.avatar-row {
  padding-right: 20px !important;
  padding-bottom: 20px !important;
}

.avatar-view img {
  width:100%;
}

.crop-avatar-text {
	text-align: left;
}

.exchange-profile {
	margin-bottom: 8rem;
	text-align: center;

	fieldset {
		margin-bottom: 2rem;
	}
	
	.help-block {
		margin-bottom: 1rem;
	}
}