$fa-font-path: "/fonts/font-awesome";
$enable-rounded: false;

$colorEsnCyan: #00aeef;
$colorEsnMagenta: #ec008c;
$colorEsnGreen: #7ac143;
$colorEsnOrange: #f47b20;
$colorEsnDarkBlue: #2e3192;

:root {
  --color-blue: #05a0db;
  --logo-height: 4rem;
  --color-light-gray: #e4e4e4;
  --color-blue-bg: #0079c1;

  --color-esn-cyan: $colorEsnCyan;
  --color-esn-magenta: $colorEsnMagenta;
  --color-esn-green: $colorEsnGreen;
  --color-esn-orange: $colorEsnOrange;
  --color-esn-dark-blue: $colorEsnDarkBlue;
}
