#about > div > img {
  display: none;
  float: right;
}

#about > ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#about > ul > li {
  width: 7rem;
  margin: 0 0.5rem;
}

#about > ul > li:first-child, #about > ul > li:last-child {
  width: 14rem;
}

#about > ul > li > img {
  width: 100%;
}

p > span {
  display: block;
}

@media (min-width: 22rem) {
  #about > div > img {
    display: block;
    max-width: 25%;
    min-width: 10rem;
  }
}